/*CSS for Ocampo Map*/

html, body, #map {
  height: 100%;
  width: 100%;
  font-family: "LibreBaskerville", Corbel, serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
}

.parallax {
  background: url('images/gendered_network.png') no repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
