/*CSS for Ocampo Map*/

html, body, #map {
  height: 100%;
  width: 100%;
  font-family: "LibreBaskerville", Corbel, serif;
}

.networks {
    float: left;
    height: 30%;
    width: 20%;
    display: inline;
    border: solid black 1px;
    padding: 2px;
    margin-left: none;
}
