#map {
  height: 80vh;
  width: 70%;
    float: right;
  border: 1px solid black;
  position: relative;
}

#location-metadata {
  height: 80vh;
  width: 30%;
    float: left;
  overflow-y: scroll;
  border: 1px solid midnightblue;
}
